$primary: #E91E63;
$grey: #EEE;
$dark: #3c3c3c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
	background-color: $grey;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

header {
	width: 100vw;
	padding: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $dark;

	h1 {
		color: $grey;
		font-size: 28px;
		font-weight: 300;

		i {
			color: $primary;
			font-weight: 900;
		}
	}
}

main {
	display: flex;
	flex: 1;

	.menu {
		width: 100%;
		max-width: 250px;
		background-color: $dark;

		.menu__item {
			display: block;
			transition: 0.4s;

			.item__name {
				display: block;
				padding: 15px;

				color: $grey;
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;

				transition: 0.4s;

				&:hover {
					border-right: 5px solid $primary;
				}
			}

			.item__sub-menu {
				display: block;
				max-height: 0px;
				overflow: hidden;

				transition: max-height 0.4s ease-out;

				.sub-menu__item {
					display: block;
					padding: 15px 25px;

					color: $grey;
					font-size: 18px;
					font-weight: 400;
					border-left: 5px solid transparent;
					transition: 0.4s;

					&:hover {
						border-left: 5px solid $primary;
					}
				}
			}

			&:target {
				.item__name {
					background-color: $primary;
				}

				.item__sub-menu {
					max-height: 1000px;
					transition: max-height 0.4s ease-in-out;
				}
			}
		}
	}

	.content {
		flex: 1 1 100%;
		padding: 25px;

		h2 {
			color: $dark;
			font-size: 24px;
			margin-bottom: 30px;
		}

		p {
			color: $dark;
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}